{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main>

     <div class="trending-area fix pt-25 gray-bg">
        <div class="container">
            <div class="trending-main">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Trending Top -->
                        <div class="slider-active">
                            {% for newss in newsimage %}
                            <!-- Single -->
                            <div class="single-slider">
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="{{ newss.image.url }}" alt="">
                                        <div class="trend-top-cap">

                                            <h2><a href="{% url 'main:news_detail' slug=newss.slug %}" data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms">{{ newss.title }}</a></h2>
                                            <p data-animation="fadeInUp" data-delay=".6s" data-duration="1000ms">{{ newss.created_at|date:"d.m.Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Right content -->
                    <div class="col-lg-4">
                            <!-- Trending Top -->
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                {% if newsculture %}
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="{{ newsculture.image.url }}" alt="">
                                        <div class="trend-top-cap trend-top-cap2">

                                            <h2><a href="{% url 'main:news_detail' slug=newsculture.slug %}">{{ newsculture.title }}</a></h2>
                                            <p>{{ newsculture.published_date|date:"d.m.Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                {% if newssport %}
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="{{ newssport.image.url }}" alt="">
                                        <div class="trend-top-cap trend-top-cap2">

                                            <h2><a href="{% url 'main:news_detail' slug=newssport.slug %}">{{ newssport.title }}</a></h2>
                                            <p>{{ newssport.published_date|date:"d.m.Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="trending-area fix pt-25 gray-bg">
        <div class="container">
            <div class="trending-main">
                <div class="row">
                    <div class="col-lg-8">

                        </div>
                    </div>
                    <div class="col-lg-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weekly2-news-area pt-50 pb-30 gray-bg">
        <div class="container">
            <div class="weekly2-wrapper">
                <div class="row">
                    <!-- Banner -->

                    <div class="col-lg-9">
                        <div class="slider-wrapper">
                            <!-- section Tittle -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="small-tittle mb-30">
                                        <h4>Популярные новости</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Slider -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="weekly2-news-active d-flex">

                                         {% for news in news_list %}
                                        <div class="weekly2-single">

                                            <div class="weekly2-img">
                                                {% if news.image %}
                                                <img src="{{ news.image.url }}" alt="{{ news.title }}">
                                                {% else %}
                                                  <img src="/static/images/default.jpg" alt="Без изображения">
                                                {% endif %}
                                            </div>
                                            <div class="weekly2-caption">
                                                {% if news.slug %}
                                                <h4><a href="{% url 'main:news_detail' slug=news.slug %}">{{ news.title }}</a></h4>
                                                {% else %}
                                                <h4>{{ news.title }}</h4>
                                                {% endif %}
                                               <p>{{ news.published_date|date:"d.m.Y H:i" }}</p>
                                            </div>

                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}