{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<main>
    <!-- About US Start -->
    <div class="about-area2 gray-bg pt-60 pb-60">
        <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Trending Tittle -->
                        <div class="about-right mb-90">

                            <div class="about-img">
                                <img src="{{ news.image.url }}" alt="">
                            </div>
                            <div class="heading-news mb-30 pt-30">
                                <h3>{{ news.title }}</h3>
                            </div>
                            <div class="about-prea">
                               12345678
                                <p class="about-pera1 mb-25">
                                     {{ news.content|linebreaks }}
                                    </p>
                            </div> 
                            
                           
                        </div>
                        <!-- From -->
{% if request.user.is_authenticated %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article class="single-news">
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <a href="{% url 'main:delete_news' news.pk %}" class="btn btn-danger w-100" style="padding: 12px; font-weight: bold;">
                            Удалить новость
                        </a>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <a href="{% url 'main:update_news' news.pk %}" class="btn btn-success w-100" style="padding: 12px; font-weight: bold;">
                            Обновить новость
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="alert alert-info">
                <p>Чтобы редактировать новость, <a href="{% url 'user_app:login' %}" class="alert-link">войдите в систему</a> или <a href="{% url 'user_app:register' %}" class="alert-link">зарегистрируйтесь</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endif %}

                        <div class="news-poster d-none d-lg-block">
                            <img src="assets/img/news/news_card.jpg" alt="">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- About US End -->
</main>
{% endblock %}

